[type=radio] {
	display: none;
}


#slider {
	height: 24vw;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;




}

#slider label {
	margin: auto;
	width: 55%;
	height: 106%;
	border-radius: 4px;
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;
	transition: transform 0.9s ease;

}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
	transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
	box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
	transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
	transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(30%, 0, -200px);
}

#slide1 {
	background: #ffcece;
	background-image: url('/assets/Imagenes/Imagenes del Carrousel/img1.jpg');
	background-size: contain;
	background-repeat: round;
	border-style: solid;
	border-color: #B09394;
}

#slide2 {
	background: #ffcece;
	background-image: url('/assets/Imagenes/Imagenes del Carrousel/img2.jpg');
	background-size: contain;
	background-repeat: round;
	border-style: solid;
	border-color: #B09394;
}

#slide3 {
	background: #ffcece;
	background-image: url('/assets/Imagenes/Imagenes del Carrousel/img3.jpg');
	background-size: contain;
	background-repeat: round;
	border-style: solid;
	border-color: #B09394;
}

#slide4 {
	background: #ffcece;
	background-image: url('/assets/Imagenes/Imagenes del Carrousel/img4.jpg');
	background-size: contain;
	background-repeat: round;
	border-style: solid;
	border-color: #B09394;
}

#slide5 {
	background: #ffcece;
	background-image: url('/assets/Imagenes/Imagenes del Carrousel/img5.jpg');
	background-size: contain;
	background-repeat: round;
	border-style: solid;
	border-color: #B09394;
}


.marcoslider {

	width: 600px;
	height: auto;

}


@media handheld, only screen and (max-width: 567px) {
	.marcoslider {
	display:none;
	}
	}
	
	@media only screen and (max-width: 567px) {
	.marcoslider {
	display:none;
	}
	}