<footer id="footer">
  <div id="pie de pagina" class="container-fluid">
    <div class="row" data-aos="zoom-in-down" data-aos-duration="2000">
      <div class="col-12 col-lg-3 col-sm-6">
        <a title="logo github" href="https://github.com/gabrielaguanini/" target="_blank"> <img
            src="../assets/Imagenes/Imagenes para redes/Icono Github.png" alt="logo github"></a>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <a title="logo facebook" href="https://www.facebook.com/gabriela.guanini/" target="_blank"> <img
            src="../assets/Imagenes/Imagenes para redes/Icono Facebook.png" alt="logo facebook"></a>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <a title="logo instagram" href="https://www.instagram.com/gabriela.guanini/" target="_blank"> <img
            src="../assets/Imagenes/Imagenes para redes/Icono Instagram.png" alt="logo instagram"></a>
      </div>
      <div class="col-12 col-lg-3 col-sm-6">
        <a title="logo youtube" href="https://www.youtube.com/channel/UCvZu_tUZSszSxQDIdNwVxBg" target="_blank"> <img
            class="imagenredessociales" src="../assets/Imagenes/Imagenes para redes/Icono Youtube.png"
            alt="logo youtube"></a>
      </div>
    </div>
  </div>
</footer>