<div class="container-fluid">
  <div class="menu">
    <input type="checkbox" id="check">
    <label for="check" class="button" data-aos="flip-left" data-aos-delay="3000" data-aos-duration="2000">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav>
      <div style="
      background-image: url('./assets/Imagenes/ImagenesdelHeader/surface-rkr_jnaGzIk-unsplash3.jpg');
       background-size: cover; 
       background-repeat: no-repeat;
       background-position: center center;
       background-color: #FCF3CF;
       height: 38vh;">
        <strong> <a class="nav-item text-secondary" routerLink="/librovisitas"> LIBRO DE VISITAS </a> </strong>
        <strong> <a class="nav-item text-secondary" routerLink="/paginados"> EXPERIENCIA LABORAL </a> </strong>
        <strong> <a class="nav-item text-secondary" href="" (click)="cerraSesion()"> CERRAR SESIÓN </a> </strong>
      </div>
    </nav>
  </div>
</div>