<app-encabezadosinanim></app-encabezadosinanim>
<br>
<br>
<div class="container" data-aos="zoom-out-right" data-aos-delay="200" data-aos-duration="2000">
    <div class="col-6">
        <button type="button" class="btn btn-outline-secondary" routerLink="/paginauno">
            ⇇
        </button>
    </div>
    <br>
</div>
<div class="container" data-aos="zoom-out-right" data-aos-delay="200" data-aos-duration="2000">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group, col-6">
                    <label for="nombreEducacion" class="fs-4">Titulo </label>
                    <input type="text" class="form-control" id="nombreEducacion" name="nombreEducacion"
                        [(ngModel)]="educacion.nombreEducacion" required>
                </div>

                <div class="form-group, col-6">
                    <label for="fechaEducacion" class="fs-4">Fecha </label>
                    <input type="text" class="form-control" id="fechaEducacion" name="fechaEducacion"
                        [(ngModel)]="educacion.fechaEducacion" required>
                </div>

                <div class="form-group, col-6">
                    <label for="descripcionEducacion" class="fs-4">Descripcion</label>
                    <textarea type="text" class="form-control" id="descripcionEducacion" name="descripcionEducacion"
                        [(ngModel)]="educacion.descripcionEducacion" required>
                    </textarea>
                </div>
                <br>
                <button class="btn btn-outline-secondary">
                    Reenviar
                </button>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>