/* Asegura que las columnas se alineen correctamente en pantallas pequeñas */
@media (max-width: 767px) {
    .row > div {
      padding-left: 5px; /* Ajusta este valor para reducir el espacio entre columnas */
      padding-right: 5px; /* Ajusta este valor para reducir el espacio entre columnas */
    }
  }
  
  /* Espaciado entre filas */
  .row > div {
    margin-bottom: 20px; /* Ajusta este valor según sea necesario */
  }

  .bckGrHab{
    background-color: #F2F2F2
  }