<div class="container-fluid">
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <h1>Habilidades duras y blandas</h1>
    <!-- hab blandas -->
    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'Trabajo en equipo'" [percent]="85" [radius]="70" [outerStrokeWidth]="8"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#ffcece'" [innerStrokeColor]="'#bdb5a0 '" [animation]="true"
        [animationDuration]="900"></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'Liderazgo'" [percent]="95" [radius]="70" [outerStrokeWidth]="8"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#ffcece'" [innerStrokeColor]="'#bdb5a0 '" [animation]="true"
        [animationDuration]="900"></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'Capacidad analítica'" [percent]="90" [radius]="70" [outerStrokeWidth]="8"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#ffcece'" [innerStrokeColor]="'#bdb5a0 '" [animation]="true"
        [animationDuration]="900"></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'Resolución de problemas'" [percent]="95" [radius]="70" [outerStrokeWidth]="8"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#ffcece'" [innerStrokeColor]="'#bdb5a0 '" [animation]="true"
        [animationDuration]="900"></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'Adaptabilidad'" [percent]="80" [radius]="70" [outerStrokeWidth]="8"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#ffcece'" [innerStrokeColor]="'#bdb5a0 '" [animation]="true"
        [animationDuration]="900"></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'Comunicación asertiva'" [percent]="75" [radius]="70" [outerStrokeWidth]="8"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#ffcece'" [innerStrokeColor]="'#bdb5a0 '" [animation]="true"
        [animationDuration]="900"></circle-progress>
    </div>
    <!-- hab duras -->

    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'Java'" [percent]="60" [radius]="70" [outerStrokeWidth]="8" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#bdb5a0 '" [innerStrokeColor]="'#ffcece'" [animation]="true" [animationDuration]="900">
      </circle-progress>
    </div>

    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'JavaScript'" [percent]="60" [radius]="70" [outerStrokeWidth]="8"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#bdb5a0 '" [innerStrokeColor]="'#ffcece'" [animation]="true"
        [animationDuration]="900"></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'HTML y CSS'" [percent]="65" [radius]="70" [outerStrokeWidth]="8"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#bdb5a0 '" [innerStrokeColor]="'#ffcece'" [animation]="true"
        [animationDuration]="900"></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'Gestión académica'" [percent]="95" [radius]="70" [outerStrokeWidth]="8"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#bdb5a0 '" [innerStrokeColor]="'#ffcece'" [animation]="true"
        [animationDuration]="900"></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'Planificación académica'" [percent]="95" [radius]="70" [outerStrokeWidth]="8"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#bdb5a0 '" [innerStrokeColor]="'#ffcece'" [animation]="true"
        [animationDuration]="900"></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-md-4 col-lg-4" data-aos="zoom-in-down" data-aos-duration="2000">
      <circle-progress [subtitle]="'Informática aplicada'" [percent]="95" [radius]="70" [outerStrokeWidth]="8"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#bdb5a0 '" [innerStrokeColor]="'#ffcece'" [animation]="true"
        [animationDuration]="900"></circle-progress>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>