#divdes {
    max-width: 60vh;
    word-break: normal;
    padding-top: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align:justify;
    
}

#divnombre {
    text-align:center;
    max-width: 60vh;
    word-break: normal;
    margin-right: 0%;
    padding-top: 3vh;
}


#divboto {
    margin-top: 2.5vh;
    padding-bottom: 2.5vh;
}

#iddescriproy{
    font-size: small;
}

#idpr{
    font-size:medium;
}
