
<div class="container-fluid pt-2">
    <br>
    <br>
    <div class="row">       
        <h1>Proyectos</h1>
    </div>
    <div>
        <button type="button" class="btn btn-outline-secondary" routerLink="/nuevoproyecto">
            AGREGAR PROYECTO ➳
        </button>
        <br>
        <br>
        <br>
    </div>
    <div class="container">
        <div *ngFor="let Proyectos of proyectos">
            <div class="row border border-3 justify-content-center">
                <div class="col-4 justify-content-center" id="divnombre">
                    <h2>{{Proyectos.nombreProyecto}}</h2>
                </div>
                <div class="col-4 justify-content-center" id="divdes">
                    <p>{{Proyectos.descripcionProyecto}}</p>
                </div>
                <div class="col-4" id="divboto">
                    <button class="btn btn-outline-secondary" routerLink="/actualizarproyecto/{{Proyectos.id}}">
                        <i class="bi bi-pencil-square"></i> Editar</button>
                    <button class="btn btn-outline-danger" (click)="borrarProyecto(Proyectos.id)">
                        <i class="bi bi-x-square"></i> Borrar</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
