<!-- columna uno -->

<div id="proyectos" class="container-fluid">
  <br>
  <br>
  <br>
  <h1>Proyectos</h1>
  <div class="row">
    <div class="col-12 col-lg-3 col-sm-6 text-center" data-aos="zoom-in-down" data-aos-duration="2000">
      <i class="bi bi-link"></i>
      <a a href="https://github.com/gabrielaguanini/PortfolioGGfinal.git" target="_blank"><img
          class="qrProyectos img-fluid" src="../assets/Imagenes/Imagenes proyectos/logoargprog.png" alt="qr_github"></a>
      <p class="m-0 blockquote"><a href="https://github.com/gabrielaguanini/PortfolioGGfinal.git"
          target="_blank">ARGENTINA PROGRAMA</a></p>
      <p class="text-secondary m-0">Septiembre de 2022</p>
      <br>
      <p class="text-secondary">Aplicación web fullstack para presentación del proyecto final requerido por la
        capacitación</p>
    </div>

    <!-- columna dos -->

    <div class="col-12 col-lg-3 col-sm-6 text-center" data-aos="zoom-in-down" data-aos-duration="2000">
      <i class="bi bi-link"></i>
      <a a href="https://drive.google.com/file/d/1nV00ucrGoUF_8zvSLq5Y-KJD1Ink7E3U/view?usp=sharing"
        target="_blank"><img class="qrProyectos img-fluid" src="../assets/Imagenes/Imagenes proyectos/qrMatDid.png"
          alt="qr_MatDid"></a>
      <p class="m-0 blockquote"><a
          href="https://drive.google.com/file/d/1nV00ucrGoUF_8zvSLq5Y-KJD1Ink7E3U/view?usp=sharing"
          target="_blank">U.T.N. F.R. BUENOS AIRES</a></p>
      <p class="text-secondary m-0">Noviembre de 2020</p>
      <br>
      <p class="text-secondary">Proyecto de educación a distancia en capacitación direccionada, centrado en actos
        administrativos</p>
    </div>

    <!-- columna tres -->

    <div class="col-12 col-lg-3 col-sm-6 text-center" data-aos="zoom-in-down" data-aos-duration="2000">
      <i class="bi bi-link"></i>
      <a a href="https://drive.google.com/file/d/1SG7q5aUnMzh1NWZ-_s9vo6j3uMqQPhRa/view?usp=sharing"
        target="_blank"><img class="qrProyectos img-fluid" src="../assets/Imagenes/Imagenes proyectos/qrTesis.png"
          alt="qr_Tesis"></a>
      <p class="m-0 blockquote"><a
          href="https://drive.google.com/file/d/1SG7q5aUnMzh1NWZ-_s9vo6j3uMqQPhRa/view?usp=sharing"
          target="_blank">U.T.N. F.R. LA PLATA</a></p>
      <p class="text-secondary m-0">Julio de 2019</p>
      <br>
      <p class="text-secondary">Tesina de Grado sobre la educación ténica vial en la República Argentina</p>
    </div>

    <!-- columna cuatro -->

    <div class="col-12 col-lg-3 col-sm-6 text-center" data-aos="zoom-in-down" data-aos-duration="2000">
      <i class="bi bi-link"></i>
      <a a href="https://classroom.google.com/u/0/c/MTEwMjAyMjQzNTQ1" target="_blank"><img class="qrProyectos img-fluid"
          src="../assets/Imagenes/Imagenes proyectos/qrClassroom.png" alt="qr_Classroom"></a>
      <p class="m-0 blockquote"><a href="https://classroom.google.com/u/0/c/MTEwMjAyMjQzNTQ1" target="_blank">U.T.N.
          F.R. VILLA MARÍA</a></p>
      <p class="text-secondary m-0">Junio de 2019</p>
      <br>
      <p class="text-secondary">Aula virtual - usuario: pruebasclassroomgabi@gmail.com Psw: psw102030</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>