<div class="container-fluid" style="
background-image: url('./assets/Imagenes/ImagenesdelHeader/surface-rkr_jnaGzIk-unsplash3.jpg');
background-size: cover; 
background-repeat: no-repeat;
background-color: #FCF3CF;
background-position: center center;
height: 38vh;">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="row">
      <div class="col nav-item">
        <a class="nav-link" routerLink="/paginauno"><img class="logoimg" id="imagenargprog4"
            src="../assets/Imagenes/ImagenesdelHeader/logoArgProg2.png" alt="imgargprog">
        </a>
      </div>
      <div class="col nav-item">
        <a class="nav-link" routerLink="/paginauno"><img class="logoimg" id="imagenargprog5"
            src="../assets/Imagenes/ImagenesdelHeader/inti.png" alt="imgargprog"></a>
      </div>
      <div class="col nav-item">
        <a class="nav-link" routerLink="/paginauno"><img class="logoimg" id="imagenargprog6"
            src="../assets/Imagenes/ImagenesdelHeader/min.png" alt="imgargprog"></a>
      </div>
    </div>
  </nav>
</div>
<div>
  <app-navbarbutton></app-navbarbutton>
</div>