<div class="container-fluid" style="
background-image: url('./assets/Imagenes/ImagenesdelHeader/surface-rkr_jnaGzIk-unsplash3.jpg');
background-size: cover; 
background-repeat: no-repeat;
background-color: #FCF3CF;
background-position: center center;
height: 40vh;">
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="row gx-1">
      <!-- Imagen 1 -->
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-center align-items-center pe-1">
        <a class="nav-link p-0" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank" data-aos="flip-left" data-aos-delay="3000" data-aos-duration="3000">
          <img class="img-fluid logoimg" id="imagenargprog1" src="../assets/Imagenes/ImagenesdelHeader/logoArgProg2.png" alt="imgargprog" style="height: 60px; object-fit: contain;">
        </a>
      </div>

      <!-- Imagen 2 -->
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-center align-items-center pe-1">
        <a class="nav-link p-0" href="https://www.argentina.gob.ar/inti" target="_blank" data-aos="flip-left" data-aos-delay="3000" data-aos-duration="3000">
          <img class="img-fluid logoimg" id="imagenargprog2" src="../assets/Imagenes/ImagenesdelHeader/inti.png" alt="imgargprog" style="height: 60px; object-fit: contain;">
        </a>
      </div>

      <!-- Imagen 3 -->
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-center align-items-center pe-1">
        <a class="nav-link p-0" href="https://www.argentina.gob.ar/covid-19-medidas-tributarias-nacionales/ministerio-de-desarrollo-productivo" target="_blank" data-aos="flip-left" data-aos-delay="3000" data-aos-duration="3000">
          <img class="img-fluid logoimg" id="imagenargprog3" src="../assets/Imagenes/ImagenesdelHeader/min.png" alt="imgargprog" style="height: 60px; object-fit: contain;">
        </a>
      </div>

      <!-- Imagen 4 -->
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-center align-items-center ps-1">
        <a class="nav-link p-0" href="https://utn.edu.ar/es/" target="_blank" data-aos="flip-left" data-aos-delay="3000" data-aos-duration="3000">
          <img class="img-fluid logoimg" id="imagenargprog4" src="../assets/Imagenes/ImagenesdelHeader/utn.png" alt="imgutn" style="height: 60px; object-fit: contain;">
        </a>
      </div>
    </div>
  </div>
</nav>

  <div>
    <app-navbarbutton></app-navbarbutton>
  </div>
  <div class="col-lg col-md col-xs" id="redes" data-aos="flip-left" data-aos-delay="2700" data-aos-duration="2000">
    <br>
    <br>
    <div class="row justify-content-center">
      <div class="btn_wrap">
        <span>REDES</span>
        <div class="container">
          <div>
            <a title="logogithubnav" href="https://github.com/gabrielaguanini/" target="_blank" alt="logogithubnav">
              <i class="bi bi-github"></i></a>
          </div>
          <div>
            <a title="logofacebnav" href="https://www.facebook.com/gabriela.guanini/" target="_blank"
              alt="logofacebnav">
              <i class="bi bi-facebook"></i></a>
          </div>
          <div>
            <a title="logoinstabnav" href="https://www.instagram.com/gabriela.guanini/" target="_blank"
              alt="logoinstabnav">
              <i class="bi bi-instagram"></i></a>
          </div>
          <div>
            <a title="logoyoutnav" href="https://www.youtube.com/channel/UCvZu_tUZSszSxQDIdNwVxBg" target="_blank"
              alt="logoyoutnav">
              <i class="bi bi-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>